$base-color: #1c1e24;
$black: #29292f;
$white: #fff;

body {
    background: $base-color;
    color:$white;
    font-size: 1rem;
}

.wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.block {
    background: $black;
    border-radius: 10px;
    color: $white;
    padding: 10px;
    margin: 20px;
    strong{
      display:block;
    }
    h3 em{font-size:0.5rem}
}

